{% extends 'base.html' %}
{% block title %}admin{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lot_form.css') }}">
{% endblock %}

{% block content %}
   <div class="form-container">
    <h2>Edit Parking Lot</h2>
    <form method="POST" action="/admin/edit_parking_lot/{{ lot.id }}">
        <label>Prime Location Name:</label>
        <input type="text" name="location" value="{{ lot.prime_location_name }}" readonly>

        <label>Address:</label>
        <textarea name="address" rows="3" readonly>{{ lot.address }}</textarea>

        <label>Pin code:</label>
        <input type="text" name="pincode" value="{{ lot.pincode }}" readonly>

        <label>Price (per hour):</label>
        <input type="number" name="price" value="{{ lot.price }}" required>

        <label>Maximum spots:</label>
        <input type="number" name="max_spots" value="{{ lot.maximum_number_of_spot }}" readonly>

        <label>Modify Spots:</label>
        <select name="spot_action" >
            <option value="" disabled selected>-- Select an action --</option>
            <option value="add">➕ Add Spot(s)</option>
            <option value="delete">❌ Delete Spot(s)</option>
        </select>

        <label>Number of Spot(s):</label>
        <input type="number" name="spot_count" min="1" placeholder="Enter number of spots to add/delete">


        <div class="form-buttons" style="margin-top: 20px;">
            <button type="submit">Update</button>
            <a href="{{ url_for('admin_dashboard') }}" class="cancel">Cancel</a>
        </div>
    </form>
</div>


{% endblock %}